{% extends "base.html" %}

{% block content %}
<h1>New Blog Post.</h1>
<form action="/new_entry" method="post">
    <p>
        <label for="title_field">Title:</label>
        <input id="title_field" name="title" type="text" value="{{ new_entry_title }}">
    </p>
    <p>
        <label for="body_field">Details:</label>
        <textarea rows="4" cols="50" id="body_field" name="body" >{{ new_entry_body }}</textarea>
    </p>
    <input id="submit_button" type="submit" value="Submit">
</form>
{% endblock %}